<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.facebook.react" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application />

</manifest>